<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ririko Best Girl</title>
	<link rel="stylesheet" href="assets/style.css">
</head>
<body>
	<% include partials/nav.ejs %>
	<h1>Contact Us!</h1>
	<p>Thanks for contacting us!</p>
	<p>You contacted <%= data.who %> in the <%= data.department %> department.</p>
	<p>We will reply to you at <%= data.email %></p>
	<div class="img-wrap">
		<img src="../img/ririko_smile.jpg" alt="ririko_smile">
	</div>
	<p>You just witnessed the rare smile of Ririko.</p>
</body>
</html>