<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ririko Best Girl</title>
	<link rel="stylesheet" href="assets/style.css">
</head>
<body>
	<% include partials/nav.ejs %>
	<h1>Welcome to Ririko's website!</h1>
	<div class="img-wrap">
		<img src="img/ririko_landing_img_page.jpg" alt="ririko_img">
	</div>
	<p>Ririko is the absolute best girl in Sakura Quest!.</p>
</body>
</html>